html {
  font-size: 62%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 2px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 22px;
  font-weight: inherit;
  background-color: #194c61;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: 36px;
}

.countdown-timer-box {
  width: 800px;
  border: 4px solid #333;
  border-radius: 6px;
	background-color: #f2f2f2;
}

.container {
  justify-content: center;
	align-items: center;
	position: relative;
	display: flex;
	flex-direction: row;
  width: 60rem;
	height: 20rem;
	background-color: transparent;
	border-radius: 4px;
	box-shadow: none;
}

.clock-column {
	text-align: center;
	position: relative;
  margin-right: 80px;

	&::after {
		content: ':';
		display: block;
		width: 4px;
    height: 4px;
		font-size: 36px;
		font-weight: 200;
		color: #131313;
		position: absolute;
		top: 60px;
		right: -40px;
	}
	&:last-child {
		&::after {
			display: none;
		}
	}
}

.clock-column:last-child {
	margin-right: 0;
}

.clock-label {
	padding-top: 10px;
	text-transform: uppercase;
	color: #131313;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #a6a6a6;
}

.clock-timer {
	color: #131313;
	font-size: 36px;
	line-height: 1;
}

.clock-input {
	clear: both;
	text-align: center;
	max-width: 500px;
	width: 100%;
  margin-top: 30px;
}

input#time-to {
	padding: 5px;
	border: 1px solid #333;
	border-radius: 4px;
	font-size: 24px;
	font-family: monospace;
	text-align: center;
	color: #141414;
	background-color: #d1e0e3;
}

.done {
	color: #fff;
	font-weight: 800;
}
